html, body {
  height: 100%;
  margin: 0;
  background-color: #fff;
}

html {
    overflow-y: scroll;
}

body {
    font-family: sans-serif;
    min-width: 307px;
}
/* Sticky Footer */

.mainWrapper {
    min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -72px;
}
.sticky,
.push {
  height: 72px;
  display:block;
}

/* --------------------------------------------------------------- */

.index #intro h1 {
    color:#504e4e;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-align: center;
    border-bottom: none !important;
    font-weight: 600;
}

.index #intro h2 {
    color:#ff511f;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 29px;
    border-bottom: 2px solid #075E8D;
    margin-top:-35px;
}

.wrapper {
    max-width: 960px;
    margin: auto;
    padding: 25px;
}

header {
    color: white;
    background-color: #075E8D;
}
header img {
    border:none;
}
footer {
    color: white;
    background-color: #075E8D;
    font-family: 'Open Sans', sans-serif;
}

#logo {
    width: 234px;
    float: left;
    border: none;
}

nav {
    margin-top: 38px;
    float: right;
    transition: height 0.5s;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    margin: 0px;
    padding: 0px;
    float: right;
    font-size: 1.3em;
}

nav li {
    display: inline;
    margin-left: 50px;
}
    
nav li:first-child {
    margin-left: 0px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    color: #c1e5f8;
}

#xhibitMenuIcon {
    display: none;
}

#intro h1 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    font-size: 2em;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #504e4e;
    border-bottom: 2px solid #05496E;
}

#intro ul {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 2em;
}

#intro ul li {
    margin: 0.5em;
}

.designSpace {
    margin-bottom:20px;
}
.designH2 {
    display: block;
}

#intro h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #ff511f;
}

#intro h3 {
    color: #504e4e;
    font-size: 1.1em;
}

#intro p, #intro li {
    color: #4d4d4d;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

#intro a, #intro a:active, #intro a:visited {
    color: #ff511f;
    transition: all 0.5s ease;
}

#intro a:hover {
    color: #D73101;
    text-decoration: none;
}

#intro code {
    background-color: #ececec;
    padding: 0.3em;
}

.itemContainer {
    max-width:800px;
    margin: 0 auto;
    padding-top:20px;
}
.itemContainer:after { /*33.3% width cells*/
  content: "";
  display: table;
  clear: both;
}
.itemContainer > div {
  float: left;
  width: 33.3%;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 2%;
}

.itemContainer h3, .developer h3 {
    color:#504e4e;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

hr {
    border: 1px solid #075E8D;
    background-color: #075E8D;
    margin-bottom:20px;
}
.twitter{
   position: relative;
   float:right;
   width: auto;
   padding-top: 1px;
   display: block;
}
.gh {
   position: relative;
   float:left;
   width: auto;
   display: block;
   margin-right:12px;
   margin-top: -5px;
}
.btn-wrapper {
    text-align: center;
    padding-top: 15px;
    padding-bottom:15px;

}
.btn-blue {
    background-color: #ff511f;
    color: #ffffff;
    transition: background .5s ease;
}
.btn-blue:hover {
    background-color: #1C74A4;
}
.btn-twitter {
    background-color: #1DA1F2;
    color: #ffffff;
    transition: background .5s ease;
    letter-spacing: 0.4px;
}
.btn-twitter:hover {
    background-color: #1C74A4;
}
.button {
    font-family: 'Open Sans', sans-serif;
    width: 206px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 24.5px 15px;
    display: inline-block;
    text-align: center;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.row {
    width:100%;
    max-width:700px;
    display: table;
    clear: both;
    padding-top: 10px;
    margin: 0 auto;
}
.developer {
    width:49%;
    float: left;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
    border: none;
}

@media (max-width:870px){
    #logo {
        float: none;
    }
    nav {
        float: left;
    }
}

@media (max-width:730px){
    .itemContainer > div {
        float: none;
        width: 100%;
    }
}

@media (max-width:620px){
    .index #intro h1 {
        font-size: 2.5em;
    }
    .index #intro h2 {
        font-size: 1.5em;
        margin-top:0px;
    }
    .designSpace {
        margin-bottom: 0px;
    }
    .designH2 {
        display: none;
    }
    #steps-stages, #steps {
/*        margin-top: 0px;*/
    }
    #logo {
        width: 40%;
    }
    #logo img {
        width: 100%;
    }
    #xhibitMenuIcon {
        display: block;
        float: right;
        width: 10%;
        padding-bottom: 15%;
        background-image: url(images/menu-icon.png);
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    nav {
        height: 0px;
        float: none;
        overflow: hidden;
        margin-top: 0px;
    }
    nav.mobile {
        height: 205px;
    }
    nav ul {
        margin-top: 15px;
        float: none;
        border-top: solid 1px white;
    }
    nav li {
        display: block;
        margin-left: 0;
        padding: 10px;
        border-bottom: solid 1px white;
        text-align: center;
    }
    .twitter {
        display: none;
    }
}

@media (max-width:550px){
    .developer {
        width:100%;
        float: left;
        clear:both;
        padding-bottom:20px;
    }
}
@media (max-width:420px){

    .gh {
        position: relative;
        float:left;
        width: 100%;
        display: block;
        margin-right:12px;
        margin-top: 7px;
    }
    .sticky,
    .push {
        height: 102px;
        display:block;
    }
    .mainWrapper {
        min-height: 100%;
        /* Equal to height of footer */
        /* But also accounting for potential margin-bottom of last child */
        margin-bottom: -102px;
    }
    .footer-wrap {
        text-align: center;
    }
}