.launchVideoContainer { 
    position: relative; 
    padding-bottom: 75%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    margin: 30px auto 30px auto;
} 

.launchVideoContainer iframe, .launchVideoContainer object, .launchVideoContainer embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.tweets {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap !important;
    background-color: #075E8D;
    border-radius: 10px;
    padding: 10px;
}

/* '!important' rules required as Safari produces inline styles for embedded Tweets */
.twitter-tweet, .tweets iframe {
    -webkit-box-flex: 1 !important;
    -moz-box-flex: 1 !important;
    width: 20% !important;
    -webkit-flex: 1 !important;
    -ms-flex: 1 !important;
    margin: 10px !important;
    padding: 10px !important;
    background-color: #3D87AE !important;
	flex: 1 1 273px !important;
    border-radius: 10px !important;
    min-width: 0 !important;
}

/* Try to force embedded Tweets to fill full width by targetting Shadow DOM */
.twitter-tweet::shadow .EmbeddedTweet {
    max-width: none !important;
}

figure {
    margin: 0;
    width: 100%;
}

figure.figMedium {
    width: 60%;
    margin: auto;
}

img {
    border: 1px solid black;
    width: 100%;
}

figcaption {
    padding: 1em;
    text-align: center;
    color: gray;
    font-style: italic;
}