.launchVideoContainer { 
    position: relative; 
    padding-bottom: 75%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    margin: 30px auto 30px auto;
} 

.launchVideoContainer iframe, .launchVideoContainer object, .launchVideoContainer embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.tweets {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #075E8D;
    border-radius: 10px;
    padding: 10px;
}

.twitter-tweet, .tweets iframe {
    -webkit-box-flex: 1 !important;
    -moz-box-flex: 1 !important;
    width: 20% !important;
    -webkit-flex: 1 !important;
    -ms-flex: 1 !important;
    margin: 10px !important;
    padding: 10px !important;
    background-color: #1C74A4 !important;
    flex: 1 !important;
    border-radius: 10px !important;
}