    
    output {
    	display: block;
    	position: relative;
    	float: left;
    	width: 3em;
    	padding: 1em 0;
    	border: thin solid rgba(0,0,0,.4);
    	margin: auto 0;
    	background: hsl(0, 0%, 50%) -35% -35%;
    	background-size: 142% 142%;
    	text-align: center;
    	color: white;
    	text-shadow: 0 -0.06em 0.05em rgba(0,0,0,.5);
    	font: bold 130%/1 'Arial', sans-serif;
    	box-shadow: 0.05em 0.1em 0.2em rgba(0,0,0,.4), -0.1em -0.1em 0.5em rgba(0,0,0,.4) inset, 0 0.3em hsla(0,0%,100%,.2) inset;
    	border-radius: 50%;
	}
	#circleBodyNotification {
    	display: block;
    	position: relative;
    	float: right;
    	width: 3em;
    	border: thin solid rgba(0,0,0,.4);
    	margin-right:32px;
    	margin-top:-6px;
    	background: hsl(0, 0%, 50%) -35% -35%;
    	background-size: 142% 142%;
    	text-align: center;
    	color: white;
    	text-shadow: 0 -0.06em 0.05em rgba(0,0,0,.5);
    	font: bold 75%/1 'Arial', sans-serif;
    	box-shadow: 0.05em 0.1em 0.2em rgba(0,0,0,.4), -0.1em -0.1em 0.5em rgba(0,0,0,.4) inset, 0 0.3em hsla(0,0%,100%,.2) inset;
    	border-radius: 50%;
    	background-color: #ea2d3f;
	}

	.ratioWrapper {
		position: relative;
		display: table;
		margin-top:10px;
		width: 100%;
		cursor: help;
	}
	.ratioLeft {
		position: relative;
		float: left;
		display: table-cell;
		padding-left: 11px;
		width: 20%;
	}
	.ratioRight {
		position: relative;
		float: left;
		display: table-cell;
		padding-left: 3px;
		padding-top: 3px;
		width: 70%;
		font-size: 0.8em;
		font-family: 'Open Sans', sans-serif;
		height: auto;
		padding-bottom:15px;
	}

@media (max-width: 900px){

	.ratioLeft, .ratioRight {
		width: 95%;
	}
	.ratioRight {
		padding: 1em;
	}
}

@media (max-width: 620px){

	.ratioLeft {
		width: 20%;
	}
	.ratioRight {
		width:70%;
		padding-left: 3px;
		padding-top: 3px;
	}
	output {
		margin-bottom:15px;
	}
}

@media (max-width: 420px) {
	.ratioRight {
		padding-left: 25px;
		width:60%;
	}
}